@{
  Layout = "_Layout";
}
<h1>@Model["restaurant"].Name Details</h1>
<p>Address: @Model["restaurant"].Address</p>
<p>Phone Number: @Model["restaurant"].PhoneNumber</p>
<p>Best Dish: @Model["restaurant"].BestDish</p>

<h2>Reviews for @Model["restaurant"].Name</h2>
@if(Model["review"].Count == 0)
{
  <p>There are no reviews yet</p>
}
@foreach(var review in Model["review"])
{
  <h3>@review.Title</h3>
  <p>@review.Description</p>
  <br>
}
<p><a href='/cuisine/@Model["restaurant"].CuisineId/restaurant/@Model["restaurant"].Id/review'>Add A Review</a></p>
<p><a href='/cuisine/@Model["restaurant"].CuisineId'>Go Back</a></p>
<p><a href="/">Return Home</a></p>
