@{
  Layout = "_Layout";
}

<div id="restaurantdetail" class="well" style="border:none">
  <div class="container boxrestaurantdetail well" style="border:none">
    <h1><span id="underline">@Model["restaurant"].Name Details</span></h1>
    <p id="meddescription">Address: @Model["restaurant"].Address</p>
    <p id="meddescription">Phone Number: @Model["restaurant"].PhoneNumber</p>
    <p id="meddescription">Best Dish: @Model["restaurant"].BestDish</p>
  </div>
  <div class="container">
    <h1 id="reviewsheader" class="well" style="border:none"><span id="underline">Reviews for @Model["restaurant"].Name</span></h1>
    @if(Model["review"].Count == 0)
    {
      <p>There are no reviews yet</p>
    }
    <div class="review">
    </div>
    @foreach(var review in Model["review"])
    {
      <div class="review">
      <h3>@review.Title</h3>
      <p id="smalldescription">@review.Description</p>

      </div>
    }
  </div>
  <div id="blacklinks">
    <p id="underline"><a href='/cuisine/@Model["restaurant"].CuisineId/restaurant/@Model["restaurant"].Id/review'>Add A Review</a></p>
    <p id="underline"><a href='/cuisine/@Model["restaurant"].CuisineId'>Go Back</a></p>
    <p id="underline"><a href="/">Return Home</a></p>
  </div>
</div>
